<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <title>Aegis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!--style -->
</head>
<body ng-controller="TodoController">
<div ng-include="'layouts/header.html'"></div>
  <section ng-hide="selectedData.MAINADDRESS_COUNTRY" class="tool-sct mapcontainerdiv" ng-init="initMap();">
    <div class="container">
      <div class="row slider_container" >
        <div class="col-sm-4">
          <div class="w3-light-grey w3-tiny">
            <div class="slidecontainer">
              <label>Transaction Risk Score</label>
              <input type="range" min="1" max="10" value="10" class="slider" ng-model="filters.transaction" id="myRange1" ng-change="filterMap();">
              <i class="tooltipTag" data-toggle="tooltip" title="About Transaction score">?</i>
              <div class="sliderlabel">
                <label>1</label>
                <label>2</label>
                <label>3</label>
                <label>4</label>
                <label>5</label>
                <label>6</label>
                <label>7</label>
                <label>8</label>
                <label>9</label>
                <label>10</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 pull-right">
          <div class="w3-light-grey w3-tiny">
          <div class="slidecontainer">
             <label>Member Risk Score</label>
              <input type="range" min="1" max="10" value="10" class="slider" ng-model="filters.member" id="myRange2" ng-change="filterMap();">
              <i class="tooltipTag" data-toggle="tooltip" title="About Member score">?</i>
              <div class="sliderlabel">
                <label>1</label>
                <label>2</label>
                <label>3</label>
                <label>4</label>
                <label>5</label>
                <label>6</label>
                <label>7</label>
                <label>8</label>
                <label>9</label>
                <label>10</label>
              </div>
            </div>
       </div>
      </div>
      </div>
              
      <div class="row map-container">
          <div class="map">
            <div id="googleMap" style="width:100%;height:400px;"></div>          
            <div class="reset-map cp" ng-click="resetMap();">
              <i class="fas fa-refresh" data-toggle="tooltip" title="Reset"></i>
            </div> 
          </div>

          <div class="map-detail">
               <div class="topcoutryhead"><label>Top 5</label> <span>Countries</span></div>
               
               <div class="transactionscore scoredata" >
                <label>Transaction Score
                <i class="tooltipTag" data-toggle="tooltip" title="About Transaction score">?</i>
                </label>
                <span ng-repeat="tr in topTransaction track by $index" ng-class="getColorclass(tr)" ng-if="$index < 5">{{tr}}</span>
               </div>

               <div class="memberscore scoredata">
                <label>Member Score
                <i class="tooltipTag" data-toggle="tooltip" title="About Transaction score">?</i>
                </label>
                <span ng-repeat="tr in topMember track by $index" ng-class="getColorclass(tr)" ng-if="$index < 5">{{tr}}</span>
               </div>
           </div>
      </div>
    </div>
  </section>

  <section ng-if="selectedData.MAINADDRESS_COUNTRY" class="tool-sct">
    <div class="container">
      <div class="row score-table" >
        <div class="score-label">
          <i class="fas fa-clock"></i>
          <div>{{selectedDataTime}}<br>SCORE</div>          
        </div>
        <div class="score-filter-period">
          <span ng-click="pagetwo(undefined, '5MINS', 'FIVEMIN');" ng-if="selectedDataTime != '5MINS'" class="cp">5Mi</span>
          <span ng-click="pagetwo(undefined, '1DAY', 'ONEDAY');"  ng-if="selectedDataTime != '1DAY'" class="cp">1D</span>
          <span ng-click="pagetwo(undefined, '1WEEK', 'ONEWEEK');"  ng-if="selectedDataTime != '1WEEK'" class="cp">1W</span>
          <span ng-click="pagetwo(undefined, '1MONTH', 'ONEMONTH');"  ng-if="selectedDataTime != '1MONTH'" class="cp">1M</span>
          <span ng-click="pagetwo(undefined, '3MONTHS', 'THREEMONTH');"  ng-if="selectedDataTime != '3MONTHS'" class="cp">3M</span>
        </div>
        <h4 class='table-header text-center'>{{selectedData.MAINADDRESS_COUNTRY}} TRANSACTION TABLE</h4>
        <table class="table table-bordered custom-table">
            <thead>
                <tr>
                <th>TRANSACTION TYPE</th>
                <th>AVERAGE SCORE</th>
                <th>TRANSACTION COUNT</th>
                <th>MEMBER COUNT</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tr in transactionData track by $index" ng-click="popup(tr);" class="cp">
                    <td>{{tr.type}}</td>
                    <td class='align-center'>{{tr.avg}}</td>
                    <td class='align-center'>{{tr.tcount}}</td>
                    <td class='align-center'>{{tr.mcount}}</td>
                </tr>
            </tbody>
        </table> 
      </div>
    </div>
  </section>

<footer ng-include="'layouts/footer.html'" class="text-center"></footer>

<div  ng-include="'layouts/infowindow.html'"></div>
<div  ng-include="'layouts/transactiondetails.html'"></div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkGAMLTnhCQfCHuucSQCdoKDaxzfFqEro&sensor=false&libraries=geometry,places&ext=.js"></script>
  <script type="text/javascript" src="js/markerwithlabel.js"></script>
  <script src="js/app.js"></script>
    
  </body>
</html>
