<div class="ht-top">
<div class="container">
      <div class="logo col-sm-6"> <a ng-click="$parent.selectedData = {};"><img width="50" src="logika-logo.jpeg">AEGIS</a></div>
      <div class="text-right col-sm-6">
        <ul class="">
          <li><a>{{currentDate | date: 'MMMM dd, yyyy'}}</a></li>
          <li ng-click="$parent.selectedData = {};"><a><i class="fas fa-home"></i></a></li>
          <li><a><i class="fas fa-user-circle"></i> NAME</a></li>
          <li><a><i class="fas fa-briefcase"></i></a></li>
          <li><a><i class="fas fa-cog"></i></a></li>
        </ul>
      </div>
  </div>
</div>