<div class="ht-top">
<div class="container">
      <div class="logo col-sm-6"> <a class="cp" ng-click="$parent.selectedData = {};info.search='';"><img width="50" src="logika-logo.jpeg"><img src="AEGIS.jpg"></a></div>
      <div class="text-right col-sm-6">
        <ul class="">
          <li><a>{{currentDate | date: 'MMMM dd, yyyy'}}</a></li>
          <li ng-click="$parent.selectedData = {};info.search='';"><a><i class="fas fa-home cp"></i></a></li>
          <li><a><i class="fas fa-user-circle"></i> JOHN</a></li>
          <li><a><i class="fas fa-briefcase"></i></a></li>
          <li><a><i class="fas fa-cog"></i></a></li>
        </ul>
      </div>
  </div>
</div>