<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">TRANSACTION DETAILS</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-5">
            <div class="search-box">
              <input type="text" placeholder="Search Member">
              <i class="fas fa-search"></i>
            </div>

            <div class="member-info row">
              <div class="col-sm-4">
                <i class="fas fa-image"></i>
              </div>
              <div class="col-sm-8">
                <div class="mmm1 mmm">
                  <span>MEMBER NUMBER</span>
                  <span>XAT-1102</span>
                </div>
                <div class="mmm2 mmm">
                  <span>MEMBER SCORE</span>
                  <span>9</span>
                </div>
              </div>
            </div>

            <div class="member-info similarpatter row">
              <div class="col-sm-4">
                <i class="fas fa-users"></i>
              </div>
              <div class="col-sm-8">
                <div class="mmm1">
                  <span>Number of members with similar pattern</span>
                  <span>10</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-7 ">
            <div class="ev-hierarchy">
            <h4 class="text-center">EVENT HIREARCHY</h4>
            <table class="table table-bordered custom-table">
              <thead>
                <tr>
                  <th width="50%">&nbsp;</th>
                  <th width="20%">Time Stamp</th>
                  <th width="15%">Transaction Score</th>
                  <th width="15%">Member Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="image/icon_email.png"> Email Change</td>
                  <td>03-21-2019 18:21 EST</td>
                  <td>3</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td><img src="image/icon_password.png"> Password Change</td>
                  <td>04-21-2019 11:21 EST</td>
                  <td>4</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td><img src="image/icon_address.png"> Address Change</td>
                  <td>03-21-2019 05:21 EST</td>
                  <td>6</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td><img src="image/icon_rewards.png"> Rewards Night Reservation</td>
                  <td>08-21-2019 16:21 EST</td>
                  <td>8</td>
                  <td>9</td>
                </tr>
              </tbody>
            </table>
            <div class="row tdaction">
              <div class="col-sm-5">
                <label>FRAUD</label>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="col-sm-7">
                <button>Close Account</button>
                <button>Email Member</button>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <span class="cp"><i class="fas fa-angle-double-left"></i>Prev</span>
          <span class="pagination-label cp"></span>
          <span class="cp">Next<i class="fas fa-angle-double-right"></i></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>